[tool.poetry]
name = "propel-client"
version = "v0.0.3"
description = "Propel service client"
authors = ["Yuri Turchenkov <yuri.turchenkov@valory.xyz>"]
readme = "README.md"
packages = [{ include = "propel_client" }]


[tool.poetry.dependencies]
python = ">=3.7,<4.0"
click = "==8.0.2"
requests = "^2.28.1"


[tool.poetry.group.dev.dependencies]
tomte = { version = "0.2.4", extras = [
    "black",
    "flake8",
    "isort",
    "mypy",
    "pylint",
] }
types-requests = "^2.28.11.17"
tox = "^3.0"
pytest = "^7.2.2"
pytest-coverage = "^0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
propel = "propel_client:cli.cli"


[tool.pylint.basic]
good-names = ["e"]